<img width="100%" class="background-image" [attr.src]="imageUrl$ | async" alt="My Bebebe">
<ng-container *ngIf="dateDif$ | async as dateDif">
  <div class="entry"><div class="label">Days</div><div class="value">{{dateDif.days}}</div></div>
  <div class="entry"><div class="label">Hours</div><div class="value">{{dateDif.hours}}</div></div>
  <div class="entry"><div class="label">Minutes</div><div class="value">{{dateDif.minutes}}</div></div>
  <div class="entry"><div class="label">Seconds</div><div class="value">{{dateDif.seconds}}</div></div>
  <div class="entry">Until I am reunited with my love</div>
</ng-container>